body{
  margin: 0;
  flex-shrink: 0;
  flex-grow: 0;
}

.img{
  width: 175px;
  height: 50px;
  display: block;
  margin-top: auto;
  margin-bottom: auto;
  cursor: pointer;
}

.firstContainer{
  background-color: rgba(255, 189, 89, 0.97);
  font-family: sans-serif;
  display: block;
  box-sizing: border-box;
  height: 80px;
}

.header{
  margin-right: 17%;
  margin-left: 17%;
  display: flex;
  justify-content: space-between;
  height: 80px;
}

.header-right{
  display: flex;
  align-items: center;
  font-family: sans-serif;
  color: white;
  font-weight: bold;
}

.moreCourses{
  padding: 16px;
  cursor: pointer;
}

.moreCourses:hover{
  padding: 16px;
  background-color: orange;
}

.login{
  padding: 16px;
  cursor: pointer;
}

.login:hover{
  padding: 16px;
  background-color: orange;
}

.secondContainer{
  background-color: rgb(240, 240, 240);
  height: 750px;
}

.big-header{
  margin-right: 16%;
  margin-left: 16%;
}

.pink{
  color: rgb(170, 129, 243)
}

.best-course{
  font-weight: bold;
  font-family: sans-serif;
  padding-top: 60px;
  flex-direction: column;
  display: flex;
  font-size: 90px;
}

.main-button-gradient{
  position: relative;
  width: 150px;
  height: 30px;
  border-radius: 20px;
  background: linear-gradient(90deg, rgb(170, 129, 243) 40%, rgb(0, 183, 255) 100%);
  margin-top: 30px;
}

::-moz-selection{
  background:#8b4bda;
  color:#fff;
}

::selection {
  background:#8b4bda;
  color:#fff;
}

.black{
  color: black;
}

.main-button-text{
  color: rgb(159, 159, 159);
  font-family: sans-serif;
  font-size: 30px;
  font-weight: 500;
  line-height: 36px;
  width: 600px;
  padding-bottom: 20px;
}

.main-button-text2{
  color: rgb(159, 159, 159);
  font-family: sans-serif;
  font-size: 30px;
  font-weight: 500;
  line-height: 36px;
  width: 700px;
}

.thirdContainer{
  justify-content: center;
  height: 350px;
}

.graduates{
  margin-right: auto;
  margin-left: auto;
  font-size: 32px;
  font-weight: bold;
  font-family: sans-serif;
  width: 70%;
  padding-top: 36px;
  height: 50px;
  text-align: center;
  justify-content: center;
}


.log{
  width: 75px;
  height: 75px;
  display: flex;
  padding: 40px 110px;
  float: left;
  margin-left: 19%;
  font-size: 24px;
}

.log2{
  font-size: 24px;
  width: 75px;
  height: 75px;
  display: flex;
  padding: 40px 110px;
  float: left;
}

.log3{
  font-size: 24px;
  width: 75px;
  height: 75px;
  display: flex;
  padding: 40px 110px;
  float: left;
  margin-right: 15%;
}

.fourthContainer{
  height: 600px;
  background-color: rgb(240, 240, 240);
}

.rated{
  justify-content: center;
  text-align: center;
  font-size: 28px;
  font-family: sans-serif;
  font-weight: bold;
  padding-top: 70px;
}

.ourCourses{
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  width: 1200px;
  height: 500px;
}
.menu{
  margin-left: 80px;
  width: 300px;
  font-weight: bold;
  font-family: sans-serif;
  font-size: 20px;
}

.icon{
  margin-bottom: 20px;
  padding: 20px 100px;
  text-align:center;
  background-color: white;
  border-radius: 4px;
  border: 3px solid rgb(170, 129, 243);
  cursor: pointer;
}

.aboutCourse{
  background-color: #ffffff;
  width: 900px;
  height: 330px;
  position: absolute;
  margin-left: 550px;
  border-radius: 24px;
  display: none;
  opacity: 0;
  transform: translateX(-100%);
  transition: opacity 0.5s ease, transform 0.5s ease; 
}

.python-image{
  height: 330px;
  border-top-left-radius: 24px;
  border-bottom-left-radius: 24px;
  position: absolute;
}

.header-about{
  position: absolute;
  margin-top: 40px;
  font-size: 20px;
  font-family: sans-serif;
  font-weight: bold;
  margin-left: 36%;
}

.header-guide{
  position: absolute;
  font-size: 15px;
  width: 500px;
  font-family: sans-serif;
  margin-top: 90px;
  margin-left: 36%;
  line-height: 24px;
}

.header-info{
  position: absolute;
  display: flex;
  font-size: 15px;
  width: 500px;
  font-family: sans-serif;
  margin-top: 200px;
  margin-left: 36%;
  line-height: 24px;
  justify-content: space-between;
  font-weight: bold;
}
.get-course{
  position: absolute;
  display: flex;
  font-size: 15px;
  width: 500px;
  font-family: sans-serif;
  margin-top: 250px;
  margin-left: 36%;
  line-height: 24px;
  justify-content: space-between;
  color: rgb(170, 129, 243);
}

.aboutCourse.active-tab {
  display: block;
  animation: slideIn 0.5s forwards; /* Apply slideIn animation when active */
}

.pink2{
  color: rgb(170, 129, 243);
}

@keyframes slideIn {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}

.fifthContainer{
  height: 600px;
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
}

.fifth-text{
  margin-left: 40%;
  margin-right: 40%;
  font-size: 28px;
  font-weight: bold;
  font-family: sans-serif;
  margin-top: 20px;
}

.left-container{
  display: flex;
  width: 300px;
  height: 150px;
  margin-top: 80px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
  background-color: rgb(252, 252, 252);
  border-radius: 16px;
  padding: 30px;
  flex-direction: column;
  margin-right: 40px;
  margin-top: 1px;
  margin-left: 20%;
}

.left-text{
  margin-top: 1px;
  font-size: 16px;
  font-style: italic;
  font-family: sans-serif;
  line-height: 24px;
}

.left-h4{
  font-size: 20px;
  font-family: sans-serif;
  width: 160px;
  height: 0px;
}

.left-account{
  margin-top: 1px;
  display: flex;
}

.middle-container{
  display: flex;
  width: 300px;
  height: 200px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
  background-color: rgb(252, 252, 252);
  border-radius: 16px;
  padding: 30px;
  flex-direction: column;
  margin-right: 40px;
}

.middle-text{
  margin-top: 1px;
  font-size: 16px;
  font-style: italic;
  font-family: sans-serif;
  line-height: 24px;
}

.middle-h4{
  font-size: 20px;
  font-family: sans-serif;
  width: 200px;
  height: 0px;
}

.middle-account{
  margin-top: 1px;
  display: flex;
}

.right-container{
  display: flex;
  width: 300px;
  height: 150px;
  margin-top: 80px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
  background-color: rgb(252, 252, 252);
  border-radius: 16px;
  padding: 30px;
  flex-direction: column;
  margin-right: 40px;
  margin-top: 1px;
}

.right-text{
  margin-top: 1px;
  font-size: 16px;
  font-style: italic;
  font-family: sans-serif;
  line-height: 24px;
}

.right-h4{
  font-size: 20px;
  font-family: sans-serif;
  width: 160px;
  height: 0px;
}

.right-account{
  margin-top: 1px;
  display: flex;
}

.lastContainer{
  height: 200px;
  background-color: rgba(255, 189, 89, 0.97);
}

.app-brewery{
  padding-top: 40px;
  font-family: sans-serif;
  font-style: italic;
  margin-left: 45%;
  color: rgb(74, 74, 74);
  font-size: 14px;
}

.terms{
  font-family: sans-serif;
  font-style: italic;
  margin-left: 46%;
  color: white;
  font-size: 14px;
}

.privacy{
  font-family: sans-serif;
  font-style: italic;
  margin-left: 46%;
  color: white;
  font-size: 14px;
}

i{
  font-family: sans-serif;
  font-style: italic;
  color: white;
  font-size: 14px;
}
.images{
  margin-left: 47%;
}